name: Code Checks

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - '*'
jobs:

  unitTest:
    runs-on: ubuntu-latest
    if: ${{ !contains(github.event.head_commit.message, 'ci skip') }}
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: 17

      - uses: gradle/gradle-build-action@v2
        with:
          gradle-home-cache-cleanup: true
          cache-read-only: false

      - name: Run Check -> Check + Tests
        run: ./gradlew build check  --continue
        env:
          TMDB_KEY: ${{ secrets.TMDB_KEY }}
